@model UniversityRegistrar.Models.Student
@using UniversityRegistrar.Models;

<h1>Student Details</h1>
<p>@Html.DisplayNameFor(model => model.StudentName): @Html.DisplayFor(student => student.StudentName)</p>
<p>@Html.DisplayNameFor(model => model.EnrollmentDate): @Html.DisplayFor(student => student.EnrollmentDate)</p>


@if(Model.JoinEntities.Count == 0)
{
  <p>This student is not enrolled in any courses.</p>
}
else
{
  <p><strong>Course Completion Status: </strong>
  <ul>
  @foreach(StudentCourse join in Model.JoinEntities)
  {
    <li>
      Course Name: @join.Course.CourseName <br />
      Course Completion: @join.CourseCompleted
      @using (Html.BeginForm("Details", "Students", FormMethod.Post, new {studentCourse = @join}))
      {
        <input type="submit" value="Click to change completion status" />
      }
    </li>
    
  }
  </ul>
  </p>
}


<p><strong>Department: </strong>
  @if (Model.MoreJoinEntities.Count == 0)
{
  <span>This student has not yet declared a major.</span>
}
else
{
  <span>@Model.MoreJoinEntities[0].Department.DepartmentName</span>
}
</p>

<br />
@Html.ActionLink("Edit", "Edit", new {id = @Model.StudentId})
@Html.ActionLink("Go back", "Index")